html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
input,
textarea,
button {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: dinregular, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", Helvetica, Arial, sans-serif;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}
body {
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.8);
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}
blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.8);
  font-weight: 400;
  letter-spacing: 0.01rem;
  margin: 30px 0;
  padding-left: 20px;
}
a:hover,
a:active {
  outline: 0;
}
pre {
  padding: 0 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font: 14px/22px 'courier new';
  position: relative;
  margin: 40px 0;
  background-color: #f8f8f8;
}
pre:before,
pre:after {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #2f76bb;
}
pre:before {
  content: "-- CODE --";
}
pre:after {
  content: "-- EOF --";
  text-align: right;
}
code {
  padding: 2px;
  background-color: #eee;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  letter-spacing: 0;
  font: 14px/26px 'courier new';
  border-radius: 3px;
}
pre code {
  padding: 0;
  background-color: #fff;
  border-radius: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.screen-reader-text {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
input[disabled] {
  cursor: default;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
}
.middotDivider {
  padding-left: 0.45em;
  padding-right: 0.45em;
}
.middotDivider:after {
  content: "·";
}
.grap {
  margin-top: 10px;
}
.grap p,
.grap ol,
.grap ul {
  margin-bottom: 20px;
}
.grap p.with-img {
  margin-left: -130px;
  margin-right: -130px;
}
.grap li {
  margin-left: 30px;
  margin-bottom: 12px;
  padding-top: 2px;
}
.grap li:before {
  content: "•";
  box-sizing: border-box;
  font-size: 14px;
  margin-left: -58px;
  padding-right: 15px;
  display: inline-block;
  text-align: right;
  width: 58px;
}
.grap h3 {
  color: rgba(0, 0, 0, 0.44);
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.grap strong {
  font-weight: 700;
}
@media (max-width: 1020px) {
  .grap p.with-img {
    margin-left: 0;
    margin-right: 0;
  }
}
.svgIcon {
  vertical-align: middle;
}
.wp-caption {
  max-width: 100%;
}
.u-floatLeft {
  float: left;
}
.u-floatRight {
  float: right;
}
.u-verticalAlignTop {
  vertical-align: top;
}
.u-verticalAlignMiddle {
  vertical-align: middle;
}
.u-verticalAlignBottom {
  vertical-align: bottom;
}
.u-disablePointerEvents {
  pointer-events: none;
}
.u-preventScroll {
  height: 100%;
  overflow: hidden;
}
.u-inlineBlock {
  display: inline-block;
}
.u-block {
  display: block;
}
.u-hide {
  display: none;
}
.u-table {
  display: table;
}
.u-table:before {
  height: auto;
  display: inherit;
}
.u-tableCell {
  display: table-cell;
}
.u-clearfix {
  *zoom: 1;
}
.u-clearfix:before,
.u-clearfix:after {
  display: table;
  content: " ";
}
.u-clearfix:after {
  clear: both;
}
.u-overflowHidden {
  overflow: hidden;
}
.u-textMuted {
  color: rgba(0, 0, 0, 0.3);
}
.u-textAlignCenter {
  text-align: center;
}
.u-textAlignRight {
  text-align: right;
}
.u-textAlignLeft {
  text-align: left;
}
.u-noWrap {
  white-space: nowrap;
}
.u-centered {
  margin-left: auto;
  margin-right: auto;
}
.u-borderBox {
  box-sizing: border-box;
}
.surface-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
}
.site-header {
  background-color: #fafafa;
  padding-top: 48px;
  text-align: center;
}
.site-header .logo {
  width: 200px;
  height: 50px;
  background: url(../img/logo.png) no-repeat center;
  background-size: cover;
  text-indent: -9999em;
  display: inline-block;
  margin-bottom: 15px;
}
.site-nav {
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  margin-top: 10px;
}
.site-nav li {
  display: inline-block;
  margin: 0 5px;
}
.site-nav li:hover {
  color: rgba(0, 0, 0, 0.8);
}
.container {
  max-width: 760px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.post-item {
  padding: 30px 0;
}
.post-item .post-header,
.post-item .post-footer {
  text-align: center;
}
.post-item .post-header .post-title,
.post-item .post-footer .post-title {
  font-size: 24px;
  line-height: 1.4;
}
.post-item .post-header .post-title:hover,
.post-item .post-footer .post-title:hover {
  color: #f36639;
}
.post-item .post-header .post-meta,
.post-item .post-footer .post-meta {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.44);
  font-style: italic;
}
.post-item .post-header {
  margin-bottom: 20px;
}
.site-footer {
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 700;
  padding: 30px 0;
  text-align: center;
}
.main-content {
  padding-top: 20px;
}
.posts-nav {
  padding: 30px 0;
}
.posts-nav .page-number {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  border: 1px rgba(0, 0, 0, 0.05) solid;
  color: rgba(0, 0, 0, 0.3);
  margin: 5px;
}
.posts-nav .page-number:hover {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.6);
}
.author-info {
  padding: 20px 0;
  margin: 20px 0;
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
  border-top: 1px rgba(0, 0, 0, 0.05) solid;
}
.author-info .avatar {
  float: left;
  border-radius: 100%;
  margin-right: 10px;
  border: 1px rgba(0, 0, 0, 0.05) solid;
}
.author-info .author-content .author-name {
  font-weight: 700;
  font-size: 18px;
}
.author-info .author-content .author-description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.44);
}
.article-more-link {
  text-align: center;
}
.article-more-link a {
  display: inline-block;
  padding: 2px 12px;
  border: 2px rgba(0, 0, 0, 0.8) solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
}
.article-more-link a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.archive-year-wrap {
  margin-bottom: 10px;
  margin-top: 20px;
}
.archive-year-wrap .archive-year {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.44);
}
.archive-article {
  padding: 10px 40px;
}
.archive-article .archive-article-date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}
